header {
    background-color: #f5f5f5;
    background: -webkit-gradient(linear, 0% 0%, 100% 0%, from(#fff), to(#f5f5f5));
    background: -webkit-linear-gradient(top, #fff, #f5f5f5);
    background:    -moz-linear-gradient(top, #fff, #f5f5f5);
    background:     -ms-linear-gradient(top, #fff, #f5f5f5);
    background:      -o-linear-gradient(top, #fff, #f5f5f5);

    background-color: #ddd;
    border-bottom: 1px solid #ccc;
    line-height: 200%;
    margin-bottom: 1.5em;
    text-transform: uppercase;
}

header h1 {
    font-size: 1em;
    line-height: inherit;
    margin: 0;
}

header .release-info {
    text-align: right;
}

table {
    width: 100%;
}

table tbody tr {
    background-color: #f9f9f9;
}

table tbody tr:nth-child(2n) {
    background-color: #fff;
}

table tr td {
    padding: 5px 8px;
}

table tr th {
    font-weight: bold;
    color: #333;
    padding: 5px 8px;
    background: #eee;
    text-align: left;
}

.source {
    font-family: Monaco, Courier, monospace;
    font-size: 90%;
    background: #f9f9f9;
    border: 1px solid #ddd;
    border-left: 1em solid #ddd;
    padding: 1em;
    margin-bottom: 1em;
}

tt {
    font-family: Monaco, Courier, monospace;
}

/**
 * HANDHELDS ONLY */
@media only screen and (max-width: 767px) {
    .source {
	color: #000;
	font-size: 67%;
	padding: 0;
	background: none;
	border: none;
    }
    footer .footer-info {
	text-align: left;
	font-size: 70%;
    }
}


footer .footer-info {
    text-align: right;
}